# ==========================
# Backend
# ==========================

PORT=5000

# MongoDB
# Docker mongodb://mongo:27017/shop_db
# For local test: mongodb://localhost:27017/shop_db
MONGO_URI=mongodb://localhost:27017/shop_db

# JWT секрет
JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=7d

# ==========================
# Seed Admin
# ==========================
ADMIN_EMAIL=admin@mail.com
ADMIN_PASSWORD=admin123
ADMIN_NAME=Admin


# ==========================
# Frontend
# ==========================

# URL backend API
VITE_API_URL=http://localhost:5000/api