# ==========================
# Backend
# ==========================
PORT=5000
MONGO_URI=mongodb://mongo:27017/shop_db   # Docker
# For local test, you can replace it with: mongodb://localhost:27017/shop_db
JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=7d
STRIPE_SECRET_KEY=your_stripe_secret

# ==========================
# Frontend
# ==========================
VITE_API_URL=http://localhost:5000   # URL backend API